src/main/resources/api/Quintrix_Address_Service.wsdl

<?xml version="1.0"?>

<wsdl:definitions name="QuintrixAddressService" targetNamespace="http://quintrix.com/QuintrixAddressService"
    xmlns:ms="http://quintrix.com/QuintrixAddressService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

    <wsdl:types>

        <xsd:schema targetNamespace="http://quintrix.com/QuintrixAddressService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            
            <xsd:element name="GetAddressResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customerId" type="xsd:string" />
                        <xsd:element name="address1" type="xsd:string" />
                        <xsd:element name="address2" type="xsd:string" />
                        <xsd:element name="city" type="xsd:string" />
                        <xsd:element name="stateOrProvince" type="xsd:string" />
                        <xsd:element name="postalCode" type="xsd:string" />
                        <xsd:element name="country" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetAddressRequest">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="customerId" type="xsd:string" />
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>

            
            <xsd:element name="AddressFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="errorrStuff" type="xsd:integer" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetAddressRequest">
        <wsdl:part name="body" element="ms:GetAddressRequest" />
    </wsdl:message>

    <wsdl:message name="GetAddressResponse">
        <wsdl:part name="body" element="ms:GetAddressResponse" />
    </wsdl:message>

    <wsdl:message name="AddressFault">
        <wsdl:part name="fault" element="ms:AddressFault" />
    </wsdl:message>


    <!-- wsdl:portType describes messages in an operation -->
    <wsdl:portType name="AddressServicePortType">


        <wsdl:operation name="getCustomerAddress">
            <wsdl:input message="ms:GetAddressRequest" />
            <wsdl:output message="ms:GetAddressResponse" />
            <wsdl:fault name="AddressFault" message="ms:AddressFault" />
        </wsdl:operation>        
    </wsdl:portType>

    <wsdl:binding name="AddressServiceSoapBinding" type="ms:AddressServicePortType">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        
        <wsdl:operation name="getCustomerAddress">

            <soap:operation soapAction="http://quintrix.com/QuintrixAddressService/getCustomerAddress" />

            <wsdl:input>
                <soap:body use="literal" namespace="http://quintrix.com/QuintrixAddressService" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://quintrix.com/QuintrixAddressService" />
            </wsdl:output>
            <wsdl:fault name="AddressFault">
                <soap:body use="literal" namespace="http://quintrix.com/QuintrixAddressService" />
            </wsdl:fault>
        </wsdl:operation>        
    </wsdl:binding>

    <wsdl:service name="QuintrixAddressService">
        <wsdl:documentation></wsdl:documentation>

        <wsdl:port name="AddressServicePort" binding="ms:AddressServiceSoapBinding">

            <soap:address location="http://localhost:8088/qunitrixAddressService" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>